<div class="hero-banner">
    <section class="heroBanner overflow-hidden active">
		<div class="container heroBanner-wrapper full-screen heroBanner--home d-flex flex-column justify-content-center" style="color: #fff">
			<div class="row heroBanner--content">
                <div class="heroBanner--text mb-3">
					<h1 style="opacity: 1; transform: translateY(0px);"> Catch up. Keep up. Pull ahead.</h1>
					<div class="col-md-5 p-0" style="opacity: 1.04; transform: translateY(0px);">
                        <p>Virtusa helps you achieve transformational change at scale and speed.</p>
                    </div>
				</div>
            </div>
            <div class="col-12 col-lg-6 heroBanner-container-bg svg-animate ml-auto">test text
            </div>
        </div>
    </section>
</div>
