---
{
    "stream": {
        "$id": "products",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id",
        "uid",
        "meta",
        "richTextDescription",
        "name",
        "slug",
        "price",
        "color",
        "brand",
        "photoGallery",
        "address"
      ],
      "filter": {
        "entityTypes": [
          "location"
        ]
      }
    }
}
---

<div>Yaaa huuuu</div>
<ul>
    <li>{{address}}</li>
</ul>