---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id",
        "name",
        "address"
      ],
      "filter": {
        "entityTypes": [
          "location"
        ]
      }
    }
}
---

<div>Yaaa huuuu</div>
<ul>
    <li>Pappu you are here {{name}} {{address}}</li>
</ul>